extends layout

block content
  div.panel.panel-danger
    div.panel-heading
      h1.panel-title User not Found
    div.panel-body The user you were looking for is not on Github, please try again
      
    div.panel-footer
      a(href="/") Go Back